<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<f:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../templateAdmin.xhtml">

    <f:define name="body">
        <h:outputLabel class="titulo">#{m['producto.tituloActualizar']}</h:outputLabel>
        <h:form id="formNuevo">
            <br />
            <div align="center">
                <p:panelGrid  columns="2" styleClass="panelGridCenter"  >
                    <h:outputText value="Nombre" style="width:150px"/>
                    <p:inputText id="idnombretarea" 
                                 value="#{productoController.productoGuardar.producto_nombre}"
                                 requiredMessage="El nombre es obligatorio"
                                 validatorMessage="Tarea no válida"
                                 required="true" 
                                 />

                    <h:outputText value="Descripcion" style="width:150px"/>
                    <p:inputText id="idDescripcionTarea" 
                                 value="#{productoController.productoGuardar.producto_descripcion}"
                                 requiredMessage="La descripcion es obligatorio"
                                 validatorMessage="Descripcion no válida"
                                 required="true" 
                                 />

                    <h:outputLabel for="minMax" value="Stock " />
                    <p:spinner id="stock" value="#{productoController.productoGuardar.producto_stock}" stepFactor="1" min="1" max="1000000" 
                               requiredMessage="Es obligatorio"
                                 validatorMessage="Stock no válida"
                                 required="true" />

                    <h:outputLabel for="minMax" value="Precio" />
                    <p:inputNumber id="precio" value="#{productoController.productoGuardar.producto_precio}" decimalPlaces="2" minValue="0" maxValue="1000000" 
                                   requiredMessage="Es obligatorio"
                                 validatorMessage="Precio no válida"
                                 required="true" />

                    <h:outputText value="Perecible" />
                    <p:selectBooleanCheckbox value="#{productoController.productoGuardar.producto_perecible}" /> 

                    <p:outputLabel for="from" value="Fecha de Vencimiento" />
                    <p:calendar id="from" value="#{productoController.productoGuardar.producto_fVencimiento}" timeZone="GMT-5" pattern="dd/MM/yyyy">
                    </p:calendar>

                    <h:outputLabel value="Categoria" />
                    <p:selectOneMenu id="cboCategoria" value="#{productoController.productoGuardar.categoria_id}" style="width: 318px">
                        <c:selectItems value="#{productoController.categorias}" />
                    </p:selectOneMenu>
                </p:panelGrid>
                <br />
                <p:commandButton value="Actualizar" action="#{productoController.actualizarProducto}"
                                     ajax="false"
                                     validateClient="true"/>
            </div>
        </h:form>
    </f:define>
</f:composition>