<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<f:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/facelets"
    template="../templateAdmin.xhtml">

    <f:define name="body">
        <h:outputLabel class="titulo">#{m['producto.tituloHome']}</h:outputLabel>
        <br />
        <h:outputLabel class="subTitulo">Administrador Yesferal</h:outputLabel>
    </f:define>
</f:composition>
