<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<f:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    template="../templateAdmin.xhtml">

    <f:define name="body">
        <h:outputLabel class="titulo">#{m['producto.tituloListar']}</h:outputLabel>
        <br />
        <h:form id="formListar">
            <br />

            <br />
            <div align="center">
                <p:inputText id="txtFiltro" placeholder="#{m['general.filtrarNombre']}" value="#{productoController.filtro}" label="#{productoController.filtro}" />
                <p:commandButton id="btnFiltrar" actionListener="#{productoController.buscar}" value="#{m['general.filtrar']}" update="tablaProducto" />
            
                <p:commandButton action="#{productoController.nuevoProducto}" value="#{m['producto.nuevo']}" />
                <p:commandButton action="#{productoController.detalleProducto}" value="#{m['producto.actualizar']}" />
                <p:commandButton action="#{productoController.eliminarProducto}" value="#{m['producto.eliminar']}" ajax="true" update="tablaProducto,messages">
                    <p:confirm header="#{m['producto.tituloEliminar']}" message="#{m['producto.eliminarConfirmacion']}" icon="ui-icon-alert" />
                </p:commandButton>  
            </div>
            <div align="center">
            <br />
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" id="frmConfirmacion">
                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" id="btnSi" />
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" id="btnNo" />
            </p:confirmDialog>
            
            <p:growl id="messages" showDetail="false" autoUpdate="true"/>
            
            <p:dataTable id="tablaProducto" var="p" value="#{productoController.productos}" 
                         selectionMode="single" selection="#{productoController.productoSeleccionado}" 
                         rowKey="#{p.producto_id}"
                         emptyMessage="#{m['producto.noRegistros']}"
                         >
                <c:facet name="header">#{m['producto.tituloTabla']}</c:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{p.producto_id}" />
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#{p.producto_nombre}" />
                </p:column>
                <p:column headerText="Stock">
                    <h:outputText value="#{p.producto_stock}" />
                </p:column>
                <p:column headerText="Precio">
                    <h:outputText value="#{p.producto_precio}" />
                </p:column>
            </p:dataTable>
            </div>
        </h:form>
    </f:define>
</f:composition>
