<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <c:loadBundle basename="messages" var="m" />
	<title>#{m['login.titulo']}</title>        
    </h:head>
    <h:body>
        <h:form id="login">           
            <div align="center">
            <img src="img/logo.png" style="width: 135px; height: 70px" alt="GO" />
            <p:separator />
            <h:panelGrid columns="1" id="matchGrid" cellpadding="5">                   
                <!--<h:outputLabel for="name" value="#{m['login.usuario']}" />-->
                <p:inputText id="name" value="#{loginController.usuario.usuario_correo}" 
                             placeholder="#{m['login.usuario']}" 
                             label="#{m['login.usuario']}" 
                             requiredMessage="Ingrese un usuario valido"
                             validatorMessage="Usuario no válida"
                             required="true" />

                <!--<h:outputLabel for="password" value="#{m['login.contrasena']}" />-->
                <p:password id="password" value="#{loginController.usuario.usuario_clave}" 
                            placeholder="#{m['login.contrasena']}" 
                            label="#{m['login.contrasena']}" 
                            requiredMessage="Ingrese una contraseña valida"
                            validatorMessage="Contraseña no válida"
                            required="true" />
            </h:panelGrid>

            <p:commandButton action="#{loginController.iniciarSesion}" value="#{m['login.validar']}" />
             </div>
            <p:messages id="messages" showDetail="false" autoUpdate="true" />
        </h:form>
    </h:body>
</html>