<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <c:loadBundle basename="messages" var="m" />
	<title>#{m['template.titulo']}</title>
        <h:outputStylesheet name="css/style.css" />
    </h:head>
    <h:body onload="noBackButton()">
        <p:layout id="layout" fullPage="true" >
            <p:layoutUnit position="west" size="200" header="Menu" resizable="false" closable="false" collapsible="true">
                <h:form>
                    <p:growl id="messages" showDetail="false"/>
                    <p:menu  toggleable="true">
                        <p:submenu label="Productos">
                            <p:menuitem value="Nuevo" action="#{productoController.nuevoProducto}" update="messages" icon="ui-icon-pencil" />
                            <p:menuitem value="Lista" action="#{productoController.listarProductos}" update="messages" icon="ui-icon-pencil" />
                        </p:submenu>
                        <p:submenu label="Categorias">
                            <p:menuitem value="Nueva" action="#{productoController.nuevoProducto}" update="messages" ajax="false" icon="ui-icon-pencil"/>
                            <p:menuitem value="Lista" action="#{productoController.listarProductos}" update="messages" ajax="false" icon="ui-icon-pencil"/>
                        </p:submenu>
                        <p:submenu label="Perfil">
                            <p:menuitem value="Configuracion" action="#" update="messages" ajax="false" icon="ui-icon-gear"/>
                            <p:menuitem value="Cerrar Sesion" action="#{loginController.cerrarSesion}" update="messages" ajax="false" icon="ui-icon-close"/>
                        </p:submenu>
                    </p:menu>
                </h:form>
            </p:layoutUnit>
            <p:layoutUnit position="center">
                <f:insert name="body">Poner Contenido por defecto.</f:insert>
            </p:layoutUnit>
        </p:layout>
    </h:body>
    <script>
        function noBackButton(){
            window.location.hash="";
            window.location.hash="Again-No-back-button"
            window.onhashchange=function(){window.location.hash="";}
        }
    </script>
</html>
